@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=PT+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'PT Sans';
}

.background{
    width: 100%;
    min-height: 100vh;
    background-image: url(./assets/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.header{
    background-color: #002147;
    font-family: 'Lato';
}
.nav{
    padding: 0.5em;
    margin: 0 1em;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 300;
}
.nav-logo{
    width: 2em;
    height: 3em;
    margin-right: 2em;
}
.nav-text{
    text-shadow: 0px 5px 5px #000000;
}